@import "tailwindcss";

body {
  font-family: "Noto Sans", sans-serif;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(var(--scroll-distance));
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}
